<%= form_for @document, url: five_path do |f| %>
	<%= f.hidden_field :words, value: @collected_words %>
	<p>
		<%= f.label :body %>
		<%= f.text_area :body, :value => params[:body] %>
	</p>
	<p>
		<%= f.submit %>
	</p>
<% end %>