<!DOCTYPE html>
<html>
<head>
  <title>Block</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<nav>
			<% if current_user %>
				<span>Hey there, <%= link_to current_user.username, @user %></span>
					<%=link_to "log out", sessions_path, method: :delete %>
					<%=link_to "Profile", user_path(@user) %>
					<form method="post">
					<p type="button" name="B1" value="Exercise >>" onclick="randomlink()"><i class="ion-edit"></i></p> </form>
					<!-- <input type="button" name="B1" value="Exercise >>" onclick="randomlink()"> -->
					<%= link_to "Prompt", prompts_path %>
				<% else %>
				<% end %>
				</script>
		</nav>
	
	</header>
	<main> 
		<div class="container">
			<% if flash[:notice] %>
				<div class="notice"><%=flash[:notice]%></div> 
			<% end %>
			<%= yield %>
			</div>
		</main>
</body>
</html>
